<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="DBPath" connectionString="Server=198.209.220.125;Initial Catalog=FoodShop;User Id=roberst;Password=ryecrisP99!;" />
  </connectionStrings>
  <appSettings>
    <!--<add key="DBPath" value="Server=ELSSTLL-7006086\SQLEXPRESS;Initial Catalog=FoodShop; Integrated Security=True;" />-->
    <!--<add key="DBPath" value="Server=HP-OBERST\SQLEXPRESS;Initial Catalog=FoodShop; Integrated Security=True;" />-->
    <add key="DBPath" value="Server=198.209.220.125;Initial Catalog=FoodShop;User Id=roberst;Password=ryecrisP99!;" />
  </appSettings>
</configuration>
